<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translate</title>
</head>
<body>
<input type="text" name="hello" value="">
<select name="lang" id="lang">
    <option value="eng">English</option>
    <option value="rus">Russian</option>
    <option value="srp">Serbian</option>
    <option value="esp">Spanish</option>
    <option value="deu">German</option>
    <option value="hrv">Croatian</option>
    <option value="pol">Polish</option>
    <option value="us-hi">Hawaiian</option>
    <option value="ita">Italian</option>
    <option value="fra">French</option>
</select>
</body>
</html>